//google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Gagalin';
  src: url('../fonts/Gagalin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

// Colors
$background-color: #f5f5f5;
$text-color: #000;
$color-white: #fff;
$color-black: #000;
$heading-color: #000;
$section-gradient1: #f5f5f5;
$section-gradient2: #D1D3F3;


// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Typography
$font-family-base: "Poppins", sans-serif;
$font-family-heading: "Poppins", sans-serif;
$font-family-stylist: 'Gagalin', sans-serif;

//body font size
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 16px;

//link or a font size
$menu-anchor-font-size: 18px;

//heading font size for
$h1-font-size-sm: 34px;
$h1-font-size-md: 38px;
$h1-font-size-lg: 42px;
$h1-font-size-xl: 45px;


//heading font size
$h2-font-size-sm: 32px;
$h2-font-size-md: 34px;
$h2-font-size-lg: 38px;
$h2-font-size-xl: 42px;

//heading font size
$h3-font-size-sm: 28px;
$h3-font-size-md: 32px;
$h3-font-size-lg: 36px;