//google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Leckerli+One&display=swap');

// Colors
$primary-color: #03087B;
$secondary-color: #131AC4;
$background-color: #f5f5f5;
$text-color: #333;
$color-white: #fff;
$color-black: #000;
$heading-color: #050982;
$section-gradient1: #f5f5f5;
$section-gradient2: #D1D3F3;


// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Typography
$font-family-base: 'Lato', sans-serif;
$font-family-heading: 'Lato', sans-serif;
$font-family-stylist: 'Leckerli One', cursive;

//body font size
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 16px;

//link or a font size
$menu-anchor-font-size: 18px;

//heading font size for
$h1-font-size-sm: 36px;
$h1-font-size-md: 40px;
$h1-font-size-lg: 50px;
$h1-font-size-xl: 50px;


//heading font size
$h2-font-size-sm: 36px;
$h2-font-size-md: 40px;
$h2-font-size-lg: 46px;
$h2-font-size-xl: 46px;

//heading font size
$h3-font-size-sm: 28px;
$h3-font-size-md: 32px;
$h3-font-size-lg: 36px;
$h3-font-size-xl: 4