.btn-primary{
    background-color: #0097E1;
    padding: 10px 35px;
    width: 100%;   
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    display: block;
    color: #fff;
    border-radius: 10px;
    letter-spacing: 2px;
}