@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Gagalin";
  src: url("../fonts/Gagalin-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
}
@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
}
body a {
  text-decoration: none;
}
body p {
  line-height: 1.6em;
}
body ul {
  list-style-type: none;
}
body ul li a {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
body .site-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}

html {
  overflow-x: hidden;
}
@media (max-width: 576px) {
  html {
    overflow-x: hidden;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
body h1 {
  font-size: 45px;
  line-height: 1.1em;
}
@media (max-width: 768px) {
  body h1 {
    font-size: 38px;
  }
}
@media (max-width: 576px) {
  body h1 {
    font-size: 34px;
  }
}
body h2 {
  font-size: 42px;
}
@media (max-width: 768px) {
  body h2 {
    font-size: 34px;
  }
}
@media (max-width: 576px) {
  body h2 {
    font-size: 32px;
  }
}

.btn-primary {
  background-color: #0097E1;
  padding: 10px 35px;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  display: block;
  color: #fff;
  border-radius: 10px;
  letter-spacing: 2px;
}
.btn-primary.w-85 {
  width: 85%;
  margin: auto;
}
.btn-primary.w-100 {
  width: 100%;
  margin: auto;
}
@media (max-width: 576px) {
  .btn-primary {
    font-size: 16px;
  }
}

/*------------------------- Started main css -----------------------------*/
.eliminate-fear {
  margin-top: 30px;
}
.eliminate-fear .ef-elements {
  background-color: #f1f1f1;
  padding: 50px 40px;
}
.eliminate-fear .review-with-line {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
}
@media (max-width: 576px) {
  .eliminate-fear .review-with-line {
    flex-direction: column;
    text-align: center;
  }
}
.eliminate-fear .review-with-line span {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .eliminate-fear .review-with-line span {
    display: block;
    width: 100%;
    margin: auto;
  }
}
.eliminate-fear .review-with-line span svg {
  width: 32px;
  height: 32px;
}
.eliminate-fear .review-with-line h4 {
  font-size: 28px;
  font-weight: 600;
  display: inline-block;
}
@media (max-width: 576px) {
  .eliminate-fear .review-with-line h4 {
    font-size: 20px;
    text-align: center;
  }
}
.eliminate-fear p.limited-offer-text {
  text-align: center;
  color: red;
  font-size: 22px;
}
@media (max-width: 576px) {
  .eliminate-fear p.limited-offer-text {
    font-size: 18px;
  }
}
.eliminate-fear h1.eliminate-heading {
  text-align: center;
  max-width: 600px;
  margin: auto;
}
@media (max-width: 576px) {
  .eliminate-fear h1.eliminate-heading {
    font-size: 20px;
    margin-top: 15px;
  }
}
.eliminate-fear p.el-fear-para {
  font-size: 25px;
}
@media (max-width: 576px) {
  .eliminate-fear p.el-fear-para {
    margin-top: 20px;
    font-size: 18px;
  }
}
.eliminate-fear .el-fear-action-btn {
  margin-top: 25px;
}
.eliminate-fear .money-back-text-wrapper {
  margin-top: 10px;
  text-align: center;
}
.eliminate-fear .money-back-text-wrapper p.money-back-text {
  font-size: 18px;
  font-weight: bold;
}
.eliminate-fear .trust-pilot-text {
  width: max-content;
  margin: auto;
}
.eliminate-fear .trust-pilot-text p {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 15px;
  gap: 10px;
}
@media (max-width: 576px) {
  .eliminate-fear .trust-pilot-text p {
    flex-direction: column;
  }
}
.eliminate-fear .trust-pilot-text p img {
  height: 28px;
}
.eliminate-fear .mastery-bundle {
  text-align: center;
  margin-top: 30px;
}
.eliminate-fear .mastery-bundle h2 {
  font-size: 36px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.eliminate-fear .mastery-bundle p {
  font-weight: 600;
  font-size: 20px;
}
.eliminate-fear .mastery-bundle .case-book-image {
  margin-top: 30px;
}
.eliminate-fear .mastery-bundle .case-book-image img {
  width: 100%;
}
.eliminate-fear .el-fear-testimonial {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
}
.eliminate-fear .el-fear-testimonial h1 {
  font-family: "Gagalin", sans-serif;
  letter-spacing: 4px;
}
@media (max-width: 576px) {
  .eliminate-fear .el-fear-testimonial h1 {
    font-size: 26px;
  }
}
.eliminate-fear .el-fear-testimonial .testimonial-ratings {
  margin-top: 10px;
}
.eliminate-fear .el-fear-testimonial .testimonial-ratings svg {
  width: 30px;
  height: 30px;
}
.eliminate-fear .el-fear-testimonial .testimonial-text p {
  font-size: 25px;
  font-style: italic;
  letter-spacing: 1px;
}
@media (max-width: 576px) {
  .eliminate-fear .el-fear-testimonial .testimonial-text p {
    font-size: 16px;
  }
}
.eliminate-fear .el-fear-testimonial .testimonial-person {
  margin-top: 20px;
}
.eliminate-fear .el-fear-testimonial .testimonial-person h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 24px;
  font-style: italic;
}
@media (max-width: 576px) {
  .eliminate-fear .el-fear-testimonial .testimonial-person h3 {
    flex-direction: column;
    font-size: 18px;
  }
}
.eliminate-fear .el-fear-testimonial .testimonial-person h3 span.tp-designation {
  font-weight: normal;
}

.recognized-section .recognized-section-elements {
  background: linear-gradient(359deg, #0552B0 0%, #36A1CE 60%, #54D2E1 100%);
}
.recognized-section .recognized-section-elements h2 {
  text-align: center;
  line-height: 1.1em;
  font-size: 34px;
  font-style: italic;
  padding: 15px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .recognized-section .recognized-section-elements h2 {
    font-size: 20px;
  }
}

/* Award Section Started */
.award-section {
  margin-top: 20px;
}
.award-section.repeated-first-try-section {
  margin: 40px 0;
}
.award-section .award-section-elements .award-heading {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 576px) {
  .award-section .award-section-elements .award-heading {
    gap: 25px;
  }
}
.award-section .award-section-elements .award-heading img {
  height: 120px;
}
.award-section .award-section-elements .award-heading h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .award-section .award-section-elements .award-heading h2 {
    font-size: 18px;
  }
}
.award-section .award-section-elements .award-image {
  text-align: center;
  margin-top: 25px;
}
.award-section .award-section-elements .award-image img {
  max-width: 600px;
  width: 100%;
  border-radius: 12px;
}
.award-section .award-section-elements .award-title {
  text-align: center;
  margin-top: 20px;
}
.award-section .award-section-elements .award-title h2 {
  line-height: 1.2em;
  font-size: 30px;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.award-section .award-section-elements .award-content {
  margin-top: 25px;
}
.award-section .award-section-elements .award-content p {
  font-size: 25px;
  max-width: 750px;
  margin: auto;
  text-align: center;
}
@media (max-width: 576px) {
  .award-section .award-section-elements .award-content p {
    font-size: 18px;
  }
}
.award-section .award-section-elements .first-try-section {
  margin: 15px auto;
}
.award-section .award-section-elements .first-try-section p {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}
.award-section .award-section-elements .first-try-section .rating-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.award-section .award-section-elements .first-try-section .rating-section .star-ratings {
  display: flex;
  align-items: center;
}
.award-section .award-section-elements .first-try-section .rating-section .star-ratings svg {
  height: 30px;
  width: 30px;
}
@media (max-width: 576px) {
  .award-section .award-section-elements .first-try-section .rating-section .star-ratings svg {
    height: 22px;
    width: 22px;
  }
}
.award-section .award-section-elements .first-try-section .rating-section p {
  margin: 0;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 576px) {
  .award-section .award-section-elements .first-try-section .rating-section p {
    font-size: 16px;
  }
}

/* End of Award Section */
/* Started Client testimonial section */
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .catchy-texts {
  margin-bottom: 35px;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .catchy-texts h1 {
  text-align: center;
  font-family: "Gagalin", sans-serif;
  letter-spacing: 2px;
}
@media (max-width: 576px) {
  .client-testimonial-section .client-testimonial-section-elements .single-testimonial .catchy-texts h1 {
    font-size: 25px;
  }
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .catchy-texts .testimonial-rating {
  text-align: center;
  margin-top: 20px;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .catchy-texts .testimonial-rating svg {
  width: 32px;
  height: 32px;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial {
  display: flex;
  gap: 20px;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .person-image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .client-info-n-texts {
  max-width: 550px;
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 12px;
}
@media (max-width: 576px) {
  .client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .client-info-n-texts {
    max-width: 350px;
  }
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .client-info-n-texts p {
  font-size: 20px;
  letter-spacing: 1px;
}
@media (max-width: 576px) {
  .client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .client-info-n-texts p {
    font-size: 16px;
  }
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .testimonial-attachment {
  margin: 25px 0;
}
.client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .testimonial-attachment img {
  max-width: 550px;
  border-radius: 12px;
}
@media (max-width: 576px) {
  .client-testimonial-section .client-testimonial-section-elements .single-testimonial .actual-testimonial .testimonial-attachment img {
    max-width: 350px;
  }
}

/* End of Client Testimonial Section */
/* FB Client comment sectoin started */
.client-comment-on-fb-section .client-comment-on-fb-section-elements .all-fb-client-comments {
  width: max-content;
  margin: auto;
}
.client-comment-on-fb-section .client-comment-on-fb-section-elements .all-fb-client-comments img {
  max-width: 900px;
}
@media (max-width: 576px) {
  .client-comment-on-fb-section .client-comment-on-fb-section-elements .all-fb-client-comments img {
    max-width: 350px;
  }
}

/* End of FB Client Comment Section */
/* Started Client Testimonial Cards Section */
.client-testimonial-cards-section .client-testimonial-masonary-grid {
  column-count: 2;
  column-gap: 20px;
}
@media (max-width: 576px) {
  .client-testimonial-cards-section .client-testimonial-masonary-grid {
    column-count: 1;
  }
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial {
  break-inside: avoid;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .t-attachment img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  height: auto;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info {
  padding: 20px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .client-name-n-status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .client-name-n-status h3 {
  font-size: 20px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .client-name-n-status span {
  font-size: 20px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info p.date {
  font-size: 18px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .client-ratings {
  display: flex;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .client-ratings svg {
  height: 24px;
  width: 24px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .testimonial-content {
  margin-top: 10px;
}
.client-testimonial-cards-section .client-testimonial-masonary-grid .single-testimonial .testimonial-info .testimonial-content p {
  font-size: 18px;
}

/* End of Client Testimonial Cards Section */
/* Parademic Flash Slider CSS */
.parademic-flash-slider-section {
  margin: 75px 0;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .section-logo {
  text-align: center;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .section-logo img {
  width: 100px;
  height: 100px;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider {
  width: 800px;
  height: auto;
  margin: auto;
  overflow-y: hidden;
}
@media (max-width: 576px) {
  .parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider {
    max-width: 350px;
  }
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul li {
  width: max-content;
  margin: auto;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul li a img {
  margin-top: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul li a img {
    max-width: 350px;
  }
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
@media (max-width: 576px) {
  .parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager {
    max-width: 350px;
    margin: 0;
  }
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager li {
  width: 125px;
  height: 85px;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager li a {
  display: block;
}
.parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager li a img {
  width: 125px;
  height: 85px;
  object-fit: cover;
  border: 1px solid #ccc;
}
@media (max-width: 576px) {
  .parademic-flash-slider-section .parademic-flash-slider-elements .parademic-flash-slider ul.lSPager li a img {
    width: 75px;
    height: 50px;
  }
}

/* End of Parademic Flash SLider CSS */
/* Mastery Bundle Section CSS */
.mastery-bundle-cta-section {
  max-width: 650px;
  margin: auto;
}
.mastery-bundle-cta-section .mastery-bundle-cta-section-elements {
  margin: 25px 0;
}
.mastery-bundle-cta-section .mastery-bundle-cta-section-elements .bundle-price {
  margin-top: 10px;
}
.mastery-bundle-cta-section .mastery-bundle-cta-section-elements .bundle-price h2 {
  font-size: 25px;
}
.mastery-bundle-cta-section .mastery-bundle-cta-section-elements .bundle-price h2 span.line-cross {
  color: red;
  text-decoration: line-through;
  font-size: 18px;
  font-weight: normal;
  margin: 0 10px;
}
.mastery-bundle-cta-section .mastery-bundle-cta-section-elements .bundle-price h2 span.off {
  font-size: 14px;
  background-color: green;
  padding: 2px 10px;
  border-radius: 35px;
  font-weight: normal;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
